<div class="main-wrapper">
  <div class="header">
    {{> logo }}
    <div class="header-nav">
      {{> header_nav_list }}
    </div>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <h2>Elements List</h2>
      <div class="sidebar-nav">
        {{> sidebar_nav_list title=title elements=elements }}
      </div>
    </div>
    <div class="viewer">
      {{#if selected}}
        <h1 class="viewer-header">Viewing {{elementType}}: {{selected}}</h1>
        <div class="viewer-content">
          {{> viewer_readme content=readme }}
          {{#if hasVariants}}
            {{> viewer_variants variants=variants}}
          {{/if}}
          {{#if example}}
            {{> viewer_example content=example }}
            {{> viewer_rendered iframeSource=iframeSource }}
          {{/if}}
        </div>
      {{else}}
        {{#if readme}}
          <div class="viewer-readme markdown">
            {{{readme}}}
          </div>
        {{else}}
          <h1>Please select an element from the list</h1>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="footer"></div>
</div>
