<section class="c-section">
  <div class="c-table">

    {{#each (forIn colors) as |color| }}
      <div class="row">
        <div class="title is-color">{{itemAt color 0}}</div>
        <div class="cr-grid cr-grid--gutters-none">
          {{#each ../allowedVariants as |allowedVariant index|}}
            {{#if (get (itemAt color 1) allowedVariant)}}
              <div class="grid-cell grid-cell-shrink">
                <div class="c-color-cta" title="color(${{itemAt color 0}}{{#if (nee allowedVariant 'base') }}, '{{allowedVariant}}'{{/if}})">
                  <div class="color-frame" style="background-color: #{{get (itemAt color 1) allowedVariant}}{{#if (eeq (itemAt color 0) 'white') }}; outline: 1px solid #eee; outline-offset: -1px;{{/if}}"></div>
                  <div class="content">
                    <span class="title">{{allowedVariant}}</span>
                    <span class="subtitle">#{{get (itemAt color 1) allowedVariant}}</span>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    {{/each}}

  </div>
</section>
