<div class="m-playground">

  <h1 class="title">
    {{#if selected }}
      Viewing {{elementType}}: {{ selected }}
    {{else if readme }}
      Viewing {{elementType}}: index.
    {{else}}
      Please select an element from the list
    {{/if}}
  </h1>

  <div class="content">
    {{#if readme }}
      {{#> section title="Readme" }}
        {{#*inline "slot-content"}}
          {{> playground_markdown }}
        {{/inline}}
      {{/section }}
    {{/if}}

    {{#if examples.length }}
      {{#> section title=(ter variants "Variants" "") }}
        {{#*inline "slot-content"}}
          {{> playground_variants }}
          {{> playground_editor }}
        {{/inline}}
      {{/section }}

      {{#> section title="Rendered" variation="c-section--breathe c-section--white-smoke" }}
        {{#*inline "slot-content"}}
          {{> playground_renderer }}
        {{/inline}}
      {{/section }}
    {{/if}}
    {{#with handlerData}}
      {{!-- Colors special handler --}}
      {{#if (and colors allowedVariants)}}
        {{> colors_grid allowedVariants=allowedVariants colors=colors}}
      {{/if}}
      {{#if typeset}}
        {{> typeset_list typeset=typeset }}
      {{/if}}
    {{/with}}
  </div>
</div>
